@use 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Work+Sans:wght@200;300;400;500&display=swap';

$text-color: #FFFFFF;
$dark: #22252C;
$posy-rose: #813772;
$ink-blue: #062F4F;
$text-font: 'Work Sans', sans-serif;

.page-about {
  width: 100%;
  height: 100%;
  display: flex;
}

.about-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-title {
  color: $posy-rose;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
}

.info-text {
  padding: 2rem 1rem;
  font-weight: 200;
  line-height: 1.5rem;
  margin: 1rem 0;
  border: 2px solid $ink-blue;
  border-radius: 5px;
}

.info-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: 2px solid $ink-blue;
  border-radius: 5px;
}

.info-skills ul {
  width: min-content;
  padding: 2rem 0;
  list-style: none;
}

.info-skills ul:first-child {
  padding-right: 4rem;
}

.skills-item {
  display: flex;
  align-items: center;
  color: $dark;
  font-size: 0.9rem;
  padding-bottom: 0.8rem;
}

#item-icon {
  color: $dark;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 0.4rem;
}

.about-timeline {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.timeline-date,
.timeline-info {
  font-family: $text-font !important;
}

.timeline-date {
  color: $ink-blue;
  font-weight: 500 !important;
}

.timeline-info {
  color: $dark;
  font-weight: 200 !important;
}

.timeline-dot {
  background-color: $posy-rose !important;
}

.page-projects {
  width: 100%;
  height: 100%;
  display: flex;
}

.projects-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.list-project {
  width: 16rem;
  height: 19rem;
  border: 2px solid $posy-rose;
  border-radius: 5px;
  margin: 0 2rem 2rem;
  background-color: $dark;
}

.project-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-bottom: 2px solid $posy-rose;
}

.project-title {
  color: $text-color;
  text-align: center;
  padding: 0.5rem 0;
}

.project-link__container {
  display: flex;
  justify-content: space-around;
}

.project-link {
  color: $text-color;
  text-decoration: none;
  font-size: 1.2rem;
}

// 750px flex column!
