@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Work+Sans:wght@200;300;400&display=swap');

$dark: #22252C;
$ink-blue: #062F4F;
$posy-rose: #813772;
$ember: #B82601;
$title-font: 'Montserrat', sans-serif;
$text-font: 'Work Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
